@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body,
button{
  font-family: "Poppins", sans-serif, Arial, Helvetica;
}
/* the header part was good to play with */
header {
    background-color: var(--dark-one);
    padding: 10px 0;
}
a{
    text-decoration: none;
}
h1:hover{
    color: #fb2436;
    cursor: pointer;
}

h1{
    font-size: 40px;
    text-align: center; /* Center the text horizontally */
    margin: 0; 
    background:linear-gradient(135deg, #72cae8, #f3dd4fb9);
    color: #000; 
    padding: 8px;
}

body {
    background-color: var(--light-one);
}


main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#movie-list {
    width: 43%;
    background: linear-gradient(60deg, #72cae8, #f3dd4fb9) ;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.637);
    border-radius: 10px;
}

#movie-details {
    width: 55%;
    background: linear-gradient(30deg, #72cae8, #f3dd4fb9, #dd8b8b) ;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
    border-radius: 5px;
}

ul#films {
    list-style: none;
    padding: 0;
}

li.film.item {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #000000;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f4a347;
}

li.film.item:hover {
    background-color: #94f0b3;
}
li.film.item:active{
    background-color: #fb2436;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 35px;
}
p{
    font-size: 22px;
}
button#buy-ticket {
    border: 1px solid #000000;
    background-color: var(--light-four);
    color: var(--light-two);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

button#buy-ticket:hover {
    background-color: #43dcf4;
}
